.recipes {
    height: 800px;
    background-color: #0A2850;
    background-image: url(/images/background_recipes.svg);
}

.recipes__title {
     display: flex;
     max-width: 580px;
     color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    position: relative;
    top: 100px;
    left: 80px;
}


.recipes__subtitle {
    display: flex;
    color: #FFFFFF;
    max-width: 438px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: 70px;
    left:80px;
}

.recipes__videos {
display: flex;
column-gap: 40px;
position: relative;
top: 80px;
bottom: 215px;
justify-content: center;
height: 350px;
}


.recipes__iframe {
    display: flex;
    width: 480px;
    height:273px ;
    border: none;
}


.recipes__caption {
   display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px ;
    line-height: 30px;
    color: #FFFFFF;

}