.page {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px ;
    line-height: 20px; 
    max-width: 1600px;
    min-width: 1100px;
    margin: 0 auto;
     color: black;
     
}


.logo {
    display: flex;
    position: relative;
    width: 105px;
    height: 39px ;
    top: 30px;
    left: 30px;
}



.nav__links {
    display: flex;
    position:absolute;
    list-style-type: none;
    column-gap: 20px;
    padding: 0;
   right: 80px;
   top:30px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header {
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding:30px 80px 40px 80px ;
}

.header__content {
    height: 100%;
    

}

.header__title {
    max-width: 709px;
    display: flex;
    margin-top: 183px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
    display: block;
}

.span-accent {
    display: block;
    font-family: 'Novo-Serif';
    font-style: italic;
    font-weight:normal;
    font-size: 58px;
    line-height: 72px; 
    color:#2F80ED;

}


.header__description {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    display: block;
    margin-top: 28px;
    

}

.header__image {
   display: flex;
    width: 646px;
    height:568px;
    position:absolute;
    right:5px;
    top: 124px;
}

.header__hours {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#838383 ;
    flex-direction: column;
}

.header__paragrafh {
    margin: 0;
    padding: 0;
    
}

.header__info {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#838383 ;
   
    
}

.header__footer {
display: flex;
margin-top: auto;
justify-content: space-between;
align-items: center;

}

.recipes {
    height: 800px;
    background-color: #0A2850;
    background-image: url(/images/background_recipes.svg);
}

.recipes__title {
     display: flex;
     max-width: 580px;
     color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    position: relative;
    top: 100px;
    left: 80px;
}


.recipes__subtitle {
    display: flex;
    color: #FFFFFF;
    max-width: 438px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: 70px;
    left:80px;
}

.recipes__videos {
display: flex;
column-gap: 40px;
position: relative;
top: 80px;
bottom: 215px;
justify-content: center;
height: 350px;
}


.recipes__iframe {
    display: flex;
    width: 480px;
    height:273px ;
    border: none;
}


.recipes__caption {
   display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px ;
    line-height: 30px;
    color: #FFFFFF;

}

.video__descripction {
    display:flex;
}

.reservation {
    background-image: url(/images/background_reservation.svg) ;
    background-color:#D9E7FF;
    height: 750px;
}

.reservation__title {
 font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
display: flex;
position:absolute;
right: 550px;

}

.form__item {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
border-radius: 4px;

}

.form__label {
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
column-gap: 20px;
}

.form__fieldset {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 80px;
    
}

.form__handler {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 85px;
}

.form__button {
 font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

}

.form__button[type="submit"] {
    color: #FFFFFF;
    background-color: #2F80ED;
}

.form__button:hover {
    border-radius: 4px;
    
}